.App {
  text-align: center;
}

.App-header {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Title {
  font-family: 'Homemade Apple', cursive;
  font-size: 5rem;
  color: #617f68;
}

.Description {
  color: #617f68;
  font-size: 1.75rem;
  font-family: open sans, sans-serif;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
}


.NavPanel {
  font-size: 1.2rem;
  height: 100%;
  width: max-content;
  text-transform: uppercase;
  margin: 0 auto;
  font-family: open sans, sans-serif;
}

.NavLink {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #617f68;
}

table {
  width: 100%;
  table-layout: fixed;
  padding: 4.5rem;
}

td{
  padding: 15px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

th {
  font-family: 'Homemade Apple', cursive;
}

.Table-Wrapper {
  background-color: rgb(97, 127, 104);
  margin: 2.25% 10%;
  overflow-x:auto;
    overflow-y:auto;
}

th {
  font-size: 1.5rem;
  text-align: left;
  color: #dbe0db;
}

@media only screen and (max-width: 1457px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  .Table-Wrapper {
    width: 65%;
    margin: 0 auto;
  }
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /*tr {*/
  /*  border: 1px solid #ccc;*/
  /*}*/

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: solid 1px rgba(255,255,255,0.1);
    position: relative;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
