.App {
  text-align: center;
}

.App-header {
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Title {
  font-family: 'Homemade Apple', cursive;
  font-size: 5rem;
  color: #617f68;
}

.Description {
  color: #617f68;
  font-size: 1.75rem;
  font-family: open sans, sans-serif;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
}

table {
  width: 95%;
  height: 95%;
  table-layout: fixed;
  padding: 5rem;
}

td{
  padding: 15px;
  vertical-align:middle;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.Table-Wrapper {
  background-color: rgb(97, 127, 104);
  margin: 2.25% 10%;
}

th {
  font-size: 1.5rem;
  text-align: left;
  color: #dbe0db;
}

.NavPanel {
  font-size: 1.2rem;
  height: 100%;
  width: max-content;
  text-transform: uppercase;
  margin: 0 auto;
  font-family: open sans, sans-serif;
}

.NavLink {
  margin: 10px;
}

a {
  text-decoration: none;
  color: #617f68;
}